*{
  font-family: 'Chicle', cursive;
}

.background{
 /* z-index: 1;*/
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: table;
  top: 0;
  background-size: cover;
  background-color: rgb(247, 247, 247);
}

.inner{
  display: table-cell;
  vertical-align: middle;
  max-width: none;
  width: 100%;
}

.content{

  text-align: center;
  font-size: 200px;
  opacity: .2;
  text-transform: uppercase;
}


.grid{

  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
  ". . . . . . . "
  ". dice1 . dice2 . dice3 ."
  "p1 p1 . . .p2 p2"
  "p1results p1results theButton theButton theButton p2results p2results ";
}
.button{
  width: 10vw;
  height: 10vh;
  opacity: .6;
  border-radius: 20px;
  box-shadow: 4px 4px 4px black;
  outline: 0;

}

.button:hover{

  width: 11vw;
  height: 12vh;
  font-size: 13px;

}

.theButton{
  align-self: center;
  grid-area: theButton;
  justify-self: center;

}

.die1, .die2, .die3{

  height: 100%;
  width: 100%;
  animation: spinToTheRight 2.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;

}

.die11, .die12, .die13{

  height: 100%;
  width: 100%;
  animation: spinToTheLeft 2.5s;
  animation-fill-mode: forwards;
}



.dice1{
  grid-area: dice1;
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
}
.dice2{
  grid-area: dice2;
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
}
.dice3{
  grid-area: dice3;
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
}
.p1{
  grid-area: p1;
}
.p2{
  grid-area: p2;
}
.p1results{
  grid-area: p1results;
}
.p2results{
  grid-area: p2results;
}
.landingPage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  ". h1 ."
  ". form ."
  ". . ." ;

  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;

}

  h1{
    font-size: 60px;
    grid-area: h1;
    justify-self: center;
    align-self: end;
  }

  h1:hover{

    animation: spin 3s;
    animation-fill-mode: forwards;

  }


  form{
    justify-self: center;
    align-self: center;
    grid-area: form;
    text-align: center;
  }
h1, form{

  color: white;
}

@keyframes spinToTheRight{

  from{
    transform: translate(0,0) rotate(0deg);

  }
  to {
    transform: translate(100px,0) rotate(5400deg);
  }
}

@keyframes spinToTheLeft{

  from{
    transform: translate(100px,0) rotate(0deg);

  }
  to {
    transform: translate(-100px,0) rotate(-5400deg);
  }
}


@keyframes spin{

  from{
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);
  }
}

